{% load compress %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS </title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress css %}

</head>
<body class="bg-green-50">

    <nav>
        <a href="{% url 'home' %} ">Home</a>
        <a href="{% url 'about' %} ">About</a>
    </nav>

    <div class="container mx-auto mt-4">
        {% block content %}

         {% endblock content%}

</body>
</html>